{{template "header.html" .}}
<div class="topDiv">
    <div class="searchTop">
        <div id="movieTypeList" class="movieTypeList"></div>
        <div class="allCount">
            共<span> {{.allCount}}/{{.allMoviesCount}}</span> 部
        </div>
        <form class="form-inline" action="/movie" method="get">
            <div class="form-group">
                <input type="text" name="keyword" style="border-radius: 5px;" class="form-control" value="1"
                    id="exampleInputAmount" placeholder="请输入搜索关键词">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </form>
    </div>
    <div class="selectHeader">
        <div id="movieTypeZiList"></div>
    </div>
    <div class="selectHeader">
        <h4>年份</h4>
        <div>
            <ul class="yearList">
                {{$activeYear := .activeYear}}
                <li><a {{if not  $activeYear }} class="active" {{end}} onclick="goHref('activeYear','')">全部 </a>
                </li>
                {{range $i, $v := .yearList }}
                <li><a {{if eq $activeYear $v}} class="active" {{end}} onclick="goHref('activeYear',{{$v}})">{{$v}}</a>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
    <!-- <div class="selectHeader">
        <h4>类别</h4>
        <div>
            <ul>
                <li><a class="active" href="">全部</a></li>
            </ul>
        </div>
    </div> -->
</div>

<div class="movieList">
    <div class="row mb20">
        {{range $i, $v :=  .movies }}
        <div class="col-xs-6 col-md-3 movieCard">
            <a href="/view/movieDetail/{{$v.StrID}}" class="thumbnail">
                <img src={{$v.Cover}} alt="">
                <div class="dzBtnGroup movieRd">
                    <span><i class="iconfont icon-guankan"></i>{{0 }}</span>
                    <span><i class="iconfont icon-dianzan"></i>{{0 }}</span>
                    <span><i class="iconfont icon-pinglun"></i>{{0 }}</span>
                </div>
                <div class="movieHeader">
                    <h4>{{$v.Name}}
                        {{if $v.Released}}
                        ({{$v.Released}})
                        {{end}}
                    </h4>
                    <h6>{{$v.Detail.vod_play_info}}</h6>
                </div>
            </a>
        </div>
        {{else}}
        <p style="margin: 20px;">抱歉，没有更多影片了~我们正在加紧收录中。。。</p>
        {{end}}


    </div>
</div>

<script>
    let Categories = JSON.parse({{.categories }});
    let selCategories = {{.selCategories }};
    let selZiCategories = {{.selZiCategories }};
    function selCategoriesFun(id) {
        this.goHref("selCategories", id)
    }
    function selZiCategoriesFun(id) {
        this.goHref("selZiCategories", id)
    }
    function setCategoriesFun() {
        var movieTypeListStr = "";
        var movieTypeZiListStr = "";
        let ziCategories = Categories[0].sub;
        selCategories = selCategories || Categories[0].type_id;
        selZiCategories = selZiCategories || ziCategories[0].type_id;
        console.log(selZiCategories)
        for (let a = 0; a < Categories.length; a++) {
            movieTypeListStr = movieTypeListStr + `<div onClick="selCategoriesFun(${Categories[a].type_id})" class="movieTypeItem ${selCategories == Categories[a].type_id ? "active" : ""}">${Categories[a].name}</div>`
            if (selCategories == Categories[a].type_id) {
                ziCategories = Categories[a].sub
            }
        }

        for (let b = 0; b < ziCategories.length; b++) {
            movieTypeZiListStr = movieTypeZiListStr + ` <li onClick="selZiCategoriesFun(${ziCategories[b].type_id})" ><a class="${selZiCategories == ziCategories[b].type_id ? "active" : ""}">${ziCategories[b].name}</a></li>  `
        }
        var div1 = document.createElement('ul');
        div1.innerHTML = movieTypeZiListStr;
        document.getElementById('movieTypeZiList').appendChild(div1);
        var div2 = document.createElement('div');
        div2.className = 'movieTypeList'
        div2.innerHTML = movieTypeListStr;
        document.getElementById('movieTypeList').appendChild(div2);
    }
    setCategoriesFun()
    function goHref(type, value) {

        let url = window.location.href;
        let urlQ = url.split("?");
        let queryData = {};
        let urlQD = urlQ[1] ? urlQ[1].split('&') : [];
        for (let a = 0; a < urlQD.length; a++) {
            let urlQDItem = urlQD[a].split('=');
            queryData[urlQDItem[0]] = urlQDItem[1];
        }
        if (type) {
            queryData[type] = value;
        }
        if (type = "selCategories") {
            for (let a = 0; a < Categories.length; a++) {
                if (value == Categories[a].type_id) {
                    queryData.selZiCategories = Categories[a].sub[0].type_id;
                    break
                }
            }

        }
        if (type != "page") {
            queryData.page = 0;
        }
        let goUrl = window.location.href.split("?")[0] + "?";
        for (key in queryData) {
            if (key) {
                goUrl = goUrl + key + '=' + queryData[key] + "&";
            }
        }
        window.location.href = goUrl;
    }
</script>

{{template "pagination.html" .}}
{{template "footer.html" .}}