<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1476614_r36xjlyjnko.css">
  <link rel="stylesheet" href="/static/style/home.css">
  <link rel="stylesheet" href="/static/style/handBook.css">
  <link rel="stylesheet" href="/static/style/mobile.css">
  <link rel="icon" href="/static/img/logo/favicon_64.ico">
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/emoji.js"></script>
</head>

<body>
  {{template "nav.html" .}}
  <div class="main-body container">